{% extends "base.html" %}
{% block content %}
<div id="container">

    <main role="main" aria-label="events" id="sidebar">
        <div role="banner" id="logo_header">
            Comp Sci Corner
        </div>
        <div id="events" class="overflow-auto">
            <div class="card h-25">
                <p class="text-wrap event-header">
                    {{ events[0].title }}
                </p>
                    <p class="event-info">
                        {{ events[0].date_time() }} <br/>
                        {{ events[0].location }} <br/>
                    </p>
                    <p class="event-body"> {{ events[0].description }} </p>
                <div class="event-divider"></div>
            </div>
            {% for i in range(1, n_events) %}
                <div class="card h-25">
                    <p class="text-wrap event-header">
                        {{ events[i].title }}
                    </p>
                    <p class="event-info">
                        {{ events[i].date_time() }} <br/>
                        {{ events[i].location }} <br/>
                    </p>
                    <p class="event-body"> {{ events[i].description }} </p>
                    <div class="event-divider"></div>
                </div>
            {%endfor%}
        </div>
    </main>

    <main role="main" aria-label="trailers" id="trailers">
        <div id="video_player">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <video id="video" class="carousel-item active" width="100%" controls autoplay muted>
                        <source src="{{videos[0]}}" type="video/mp4">
                    </video>
                    {%for i in range(1, len)%}
                        <video id="video" class="carousel-item" width="100%" controls autoplay muted>
                            <source src="{{videos[i]}}" type="video/mp4">
                        </video>
                    {%endfor%}
                </div>
            </div>
        </div>

        <aside role="complementary" id="trailer_description">
            <h1 class="text-white">Project Name</h1>
			<h2 class="text-white">Project Author</h2>
        </aside>
    </main>
</div>

<script src="{{ url_for('static', filename='js/display.js') }}"></script>


{% endblock %}