{% extends "base.html" %}
{% block content %}

<div id="container" style="height: 100vh; width: 100vw; background-color: #194F90;">
<!-- Event Bar -->
    <div role="main" aria-label="events" id="sidebar">
    <!--Banner-->
        <div role="banner" id="logo_header">
            Comp Sci Corner
        </div>
    <!--Event Cards-->
        <div id="events" class="overflow-auto">
        {% if n_events != 0 %}
            <div class="card h-25 border-0">
                <p class="text-wrap event-header">
                    {{ events[0].title }}
                </p>
                <p class="event-info">
                    {{ events[0].date_time() }} <br/>
                    {{ events[0].location }} <br/>
                </p>
                <p class="event-body"> {{ events[0].description }} </p>
                <div class="event-divider"></div>
            </div>

            {% for i in range(1, n_events) %}
                <div class="card h-25 border-0">
                    <p class="text-wrap event-header">
                        {{ events[i].title }}
                    </p>
                    <p class="event-info">
                        {{ events[i].date_time() }} <br/>
                        {{ events[i].location }} <br/>
                    </p>
                    <p class="event-body"> {{ events[i].description }} </p>
                    <div class="event-divider"></div>
                </div>
            {%endfor%}
        {% else %} No events right now! {% endif %}
        </div>
    </div>

<!--Trailers-->
    <div role="main" aria-label="trailers" id="trailers">
    <!--Video Player-->
        <div id="video_player">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-pause="false">
            {% if n_trailers != 0 %}
                <div class="carousel-inner">
                    <video id="video" class="carousel-item active" width="100%" autoplay muted>
                        <source src="{{trailers[0].trailer_path}}" type="video/mp4">
                    </video>
                    {%for i in range(1, n_trailers)%}
                        <video id="video" class="carousel-item" width="100%" autoplay muted controls>
                            <source src="{{trailers[i].trailer_path}}" type="video/mp4">
                        </video>
                    {%endfor%}
                </div>
            {% endif %}
            </div>
        </div>
    <!--Video Description-->
        <aside role="complementary" id="trailer_description">
            <div id="description_carousel" class="carousel slide" data-ride="carousel" data-interval="false">
            {% if n_trailers != 0 %}
                <div class="carousel-inner">
                    <div class="description carousel-item active">
                        <span class="trailer_name"> {{trailers[0].title}} </span>
                        <span class="trailer_author"> by {{ trailers[0].author }} ({{ trailers[0].email }})</span>
                        <div class="trailer_divider"></div>
                        <div class="trailer_link"> See more at: {{ trailers[0].link }}</div>
                    </div>

                    {% for i in range(1, n_trailers) %}
                        <div class="description carousel-item">
                            <span class="trailer_name"> {{trailers[i].title}} </span>
                            <span class="trailer_author"> by {{ trailers[i].author }} ({{ trailers[i].email }})</span>
                            <div class="trailer_divider"></div>
                            <div class="trailer_link"> See more at: {{ trailers[i].link }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            </div>
        </aside>
    </div>
</div>

<!--Page Links-->
<script src="{{ url_for('static', filename='js/display.js') }}"></script>

{% endblock %}