{% extends "base.html" %}
{% block content %}
<body class="bg-grey">
	<header role="banner" class="container-fluid">
		<nav role="navigation" class="navbar navbar-expand-sm navbar-dark fixed-top">
			<a class="navbar-brand" href="{{ url_for('choose_submission') }}"><h1>Comp Sci Corner</h1></a>
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{{ url_for('choose_submission') }}" id="navbardrop" data-toggle="dropdown">
						Make a Submission
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{{ url_for('submit_project') }}">Submit a Project</a>
						<a class="dropdown-item" href="{{ url_for('submit_event') }}">Submit an Event</a>
					</div>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{{ url_for('display_page') }}">Visit Display</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{{ url_for('admin') }}" id="navbardrop-admin" data-toggle="dropdown">
						Admin Tools
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{{ url_for('review_trailers', i=0) }}">Review Projects</a>
						<a class="dropdown-item" href="{{ url_for('review_events') }}">Review Events</a>
					</div>
				</li>
			</ul>
			<span class="navbar-text ml-auto text-white">
				{% if current_user.is_authenticated %}
				Welcome, {{ current_user.username }}! <a href="{{ url_for('logout') }}" style="text-decoration:underline">Log out</a>
				{% else %}
				<a href="{{ url_for('admin_login') }}" style="text-decoration:underline">Log in</a> for admin privileges.
				{% endif %}
			</span>
		</nav>
	</header>
	
	<main role="main">
		<div class="container text-center justify-content-center bg-white border shadow py-5 px-2 w-25" style="margin-top:300px;margin-left:auto;margin-right:auto">
			<h1>Login Required</h1>
			<hr class="w-50"><br>
            <form role="form" name="login" method="post">
				<div class="form-group">
					<label class="h5" for="pwd">Please enter the admin password.</label>
					<br>
					<input type="password" class="form-control input-lg w-75 mx-auto text-center bg-light" id="pwd" name="pwd" placeholder="Enter password" required>
				</div>
				{% if invalid %}
				<p class="text-danger card-title">Login failed. Please try again.</p>
				{% else %}
				<br>
				{% endif %}
				<button type="submit" class="btn-lg btn-primary">Submit</button>
			</form>
		</div>
	</main>
	
	<!--footer role="contentinfo" class="container-fluid p-1 fixed-bottom" style="background-color:#003098">
		<p class="text-white m-2 card-text">Comp Sci Corner is the product of NCF students Austin LoPresto, Brian Hinshaw, and Kai Hall. Credit for the original info board goes to Brian Hinshaw, Nisanur Genc, and Saloanee Labh.</p>
	</footer-->
</body>
{% endblock %}