{% extends "base.html" %}
{% block content %}
<body class="bg-grey">
	<header role="banner" class="container-fluid">
		<nav role="navigation" class="navbar navbar-expand-sm navbar-dark fixed-top">
			<a class="navbar-brand" href="{{ url_for('choose_submission') }}"><h1>Comp Sci Corner</h1></a>
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{{ url_for('choose_submission') }}" id="navbardrop" data-toggle="dropdown">
						Make a Submission
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{{ url_for('submit_project') }}">Submit a Project</a>
						<a class="dropdown-item" href="{{ url_for('submit_event') }}">Submit an Event</a>
					</div>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{{ url_for('display_page') }}">Visit Display</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{{ url_for('admin') }}" id="navbardrop-admin" data-toggle="dropdown">
						Admin Tools
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item active" href="{{ url_for('review_trailers') }}">Review Projects</a>
						<a class="dropdown-item" href="{{ url_for('review_events') }}">Review Events</a>
					</div>
				</li>
			</ul>
		</nav>
	</header>

	<aside role="complementary" class="container py-3 float-left bg-white border shadow" style="width:20%;margin-top:150px;margin-left:8%">
		<h1>Example Project</h1>
		<hr>
		<p class="card-title">Submitted by John Doe</p>
		<p>Github Link</p>
		<hr>
		<button type="button" class="btn btn-success">Approve</button>
		<button type="button" class="btn btn-danger">Deny</button>
	</aside>

	<main role="main" class="container justify-content-center float-right w-75 p-0" style="margin-top:150px;margin-right:8%">
		<video id="video" width="100%" class="border shadow" controls muted>
			<source src="{{ url_for('static', filename='submissions/trailers/test_trailer.mp4') }}" type="video/mp4">
		</video>
	</main>
	
	<!--footer role="contentinfo" class="container-fluid p-1 fixed-bottom" style="background-color:#003098">
		<p class="text-white m-2 card-text">Comp Sci Corner is the product of NCF students Austin LoPresto, Brian Hinshaw, and Kai Hall. Credit for the original info board goes to Brian Hinshaw, Nisanur Genc, and Saloanee Labh.</p>
	</footer-->
</body>
{% endblock %}