{% extends "base.html" %}
{% block content %}
<body class="bg-grey">
	<header role="banner" class="container-fluid">
		<nav role="navigation" class="navbar navbar-expand-sm navbar-dark fixed-top">
			<a class="navbar-brand" href="{{ url_for('choose_submission') }}"><h1>Comp Sci Corner</h1></a>
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{{ url_for('choose_submission') }}" id="navbardrop" data-toggle="dropdown">
						Make a Submission
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{{ url_for('submit_project') }}">Submit a Project</a>
						<a class="dropdown-item" href="{{ url_for('submit_event') }}">Submit an Event</a>
					</div>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{{ url_for('display_page') }}">Visit Display</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{{ url_for('admin') }}" id="navbardrop-admin" data-toggle="dropdown">
						Admin Tools
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{{ url_for('review_trailers', i=0) }}">Review Projects</a>
						<a class="dropdown-item active" href="{{ url_for('review_events') }}">Review Events</a>
					</div>
				</li>
			</ul>
		</nav>
	</header>

	<main role="main" style="margin-top:150px;margin-left:auto;margin-right:auto">
		<h1 class="text-center">Pending Events</h1>
		{%if n > 0%}
			<div class="card-columns p-5 mx-5" style="column-count: 4">
				{%for event in events%}
				<div class="card bg-white border shadow" id="card{{ event._id }}">
					<div class="card-body">
						<h2 class="card-title">{{ event.title }}</h2>
						<p class="card-text">{{ event.author }}</p>
						<hr>
						<p class="card-text text-secondary">{{ event.date_time() }}</p>
						<p class="card-text text-secondary">{{ event.location }}</p>
						<p class="card-text">{{ event.description }}</p>
						<hr>
						<form class="w-25" role="form" action="{{ url_for('approve_event', event_id=event._id)}}">
							<button type="submit" class="btn btn-success">Approve</button>
						</form>
						<form class="w-25" role="form" action="{{ url_for('deny_event', event_id=event._id) }}">
							<button type="submit" class="btn btn-danger">Deny</button>
						</form>
					</div>
				</div>
				{%endfor%}
			</div>
		{%else%}
			<h2 class="text-center">No pending events right now! Check back later!</h2>
		{%endif%}
	</main>
	
	<!--footer role="contentinfo" class="container-fluid p-1 fixed-bottom" style="background-color:#003098">
		<p class="text-white m-2 card-text">Comp Sci Corner is the product of NCF students Austin LoPresto, Brian Hinshaw, and Kai Hall. Credit for the original info board goes to Brian Hinshaw, Nisanur Genc, and Saloanee Labh.</p>
	</footer-->
</body>
{% endblock %}