header, nav, main, footer, article, section, aside {
   display:block;
}

body {
	background-color: #FFFFFF;
}

#sidebar {
	width: calc(100vw - (80vh*16/9));
	height: 100vh;
	float: left;
}

	#logo_header {
		background-color: #194F90;
		height: 3vw;
		float:top;

		font-family: 'Share Tech Mono', monospace;
		font-size: 2.20vw;
		color: #FDF8F8;
		text-align: center;
	}

	#events {
		height: calc(100vh - 3vw);
		background-color: #FDF8F8;
		float:bottom;
	}
		.event-header {
			font-family: 'Droid Sans', Monospaced;
			font-size: 1.6vw;
			font-weight: 900;
			font-style: normal;
			line-height: 73%;
			padding:0;
			padding-left: 1vw;
			margin: 0;
			margin-top: 2vh;
		}

		.event-info {
			font-family:'Droid Sans', serif;
			font-size: 1vw;
			color: #6A6262;
			padding:0;
			padding-left: 1.2vw;
			padding-right: 1vw;
			margin: 0;
			word-wrap: break-word;

		}

		.event-body {
			font-family:'Droid Sans', serif;
			font-size: 1vw;
			padding:0;
			padding-left: 1.2vw;
			padding-right: 1vw;
			margin: 0;
			word-wrap: break-word;
		}

		.event-divider {
			height: 2px;
			width: 65%;
			margin: auto;
			margin-bottom: 5px;
			background-color: #C0C0C0;
		}

		#events::-webkit-scrollbar {
  			display: none;
		}

#trailers {
	background-color: #555555;
	width: calc(80vh * 16/9);
	height: 100vh;
	float: right;
}

	#video_player {
		background-color: #202224;
		height: 80vh;
		float: top;
		border-style: solid;
		border-color: #194F90;
		border-width: 5px
	}

	#video {
	}


	#trailer_description {
		background-color: #194F90;
		height: 20vh;
		float: bottom;
	}

		.trailer_name{
			font-family: Mukta Mahee, serif;
			font-size: 3.5vw;
			font-style: normal;
			font-weight: normal;
			color: #E2E2E2;
			padding-left: 30px;
			padding-top: 30px;
		}

		.trailer_author {
			font-family: Mukta Mahee, serif;
			font-size: 1.5vw;
			font-style: normal;
			font-weight: normal;
			color: #E2E2E2;
			padding-top: 30px;
		}

		.trailer_divider {
			width: calc(100% - 60px);
			height: 2px;
			margin: auto;
			padding: auto;
			background-color: #F1EAEA
		}

		.trailer_link {
			font-family: Mukta Mahee, serif;
			font-size: 1.5vw;
			font-style: normal;
			font-weight: normal;
			color: #EDE9E9;
			padding-top: 10px;
			padding-left: 30px;
		}

.text1 {
	position: absolute;
	width: 232px;
	height: 125px;
	left: 10px;
	top: 65px;

	font-family: Droid Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 20px;
	/* or 83% */
	color: rgba(0, 0, 0, 0.8);
}

.description_title {
	position: absolute;
	width: 945px;
	height: 45px;
	left: 280px;
	top: 560px;

	font-family: Mukta Mahee;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 20px;
	/* or 80% */
	color: #E2E2E2;
}

.logo_text {
	position: absolute;
	width: 238px;
	height: 31px;
	left: 12px;
	top: 6px;

	background: #E2E2E2;
	mix-blend-mode: normal;
}


.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}


html,body{
	height: 100%;
	font-family: 'Numans', sans-serif;
	scroll-behavior: smooth;
}